/* App Styling: Overall */
html, 
body {
  background-color: #01abaa;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

a:link, a:visited {
  color: white;
  text-decoration: white;
}

a:hover, a:active {
  background-color: #e65632;
}

h1 {
  /* color: white; */
  background: #01abaa;
  padding: 5px 20px;
}

main {
  margin: auto;
}

footer {
  position: sticky;
  text-align: center;
}

audio {
  width: 100%;
  transform: scale(1.02);
  border-radius: 90px;
  box-shadow: 5px 5px 20px #e65632;
  margin: 5px;
}

.navbar {
  list-style-type: none;
  display: inline-block;
}

.current-player {
  width: 50vw;
  align-items: center;
  margin: auto;
  padding: 15px;
}

/* App Buttons */
.button-set {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.rec {
  background: #e65632;
  font-size: 15px;
  color: white;
  margin: 10px;
  padding: 5px 10px;
  border: hidden;
  border-radius: 15px;
  align-content: center;
}

.stop {
  color: black;
  font-size: 15px;
  margin: 10px;
  padding: 5px 10px;
  border: hidden;
  border-radius: 15px;
  align-content: center;
}

.submit-snip {
  color: black;
  background-color: #212527;
  font-size: 15px;
  margin: 10px;
  padding: 5px 10px;
  border: hidden;
  border-radius: 15px;
  align-content: center;
  text-decoration-color: none;
}

/* App Page Content */
#snip-list.scroll {
  list-style-type: none;
  width: 65vw;
  height: 50vh;
  margin: auto;
  padding: 150px 50px 25px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.gist {
  padding: 20px;
}

.hello {
  padding: 20px;
  width: 65vw;
  height: 50vh;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
  text-decoration: none;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #212527;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/* Miscellaneous Styling Components */
.airtime {
  display: flex;
  justify-content: center;
}